@font-face {
  src : url("../fonts/BMJUA_otf.otf");
  font-family: "Jua";
}

* {
  box-sizing: border-box;
  
}

body {
  background-color: #f0e8d9;
}

h1 {
  font-family: "Jua";
  font-size: 64px;
  color: #58595b;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 30px;
}

h2 {
  font-family: "Jua";
  font-size: 32px;
  color: #58595b;
  text-align: center;
  margin-bottom: 75px;
}

.img_text {
  width: 300px;
  display: display;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 50px;
}

.img_text img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.img_text h3 {
  font-family: "Jua";
  font-size: 32px;
  color: #58595b;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 0;
}

.img_text p {
  font-family: "Jua";
  font-size: 16px;
  color: #58595b;
  margin-bottom: 16px;
  text-align: left;
}

.img_text .div {
  text-align: center;
  padding: 20px;
}

.img_text .div a {
  font-family: "Jua";
  font-size: 16px;
  color: #0000ee;
  text-decoration: none;
}