body {
  margin: 50px 0;
}

h1 {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.center {
  text-align: center;

}

.center a {
  text-decoration: none;
}

/* 아래는 내가 한 방법 */
/*.center .insta {*/
/*  margin-left: 20px;*/
/*  margin-right: 20px;*/
/*}*/

/* 잡기술이긴 한데 아래와 같이 표현 */
.center a:not(:last-child) {
  margin-right: 20px;
}